body
{
	
	background-image:linear-gradient(45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	font-family: 'Lato', sans-serif;
}
#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#logo
{
	color:white;
	margin-top:20px;
	font-size:44px;
	letter-spacing:3px;
	font-weight:900;
}
#menu
{
	background-color:#6B9FE8;
	margin-top:20px;
	color:#000000;
	padding:10px;
}
#topbar
{
	background-color:#128870;
	color:white;
	padding:10px;
	margin-top:20px;
	margin-bottom:18px;
	height:150px;
}
#topbarL
{
	float:left;
	padding:10px;
	width:325px;
	text-align:center;
	border-right:2px dotted #cccccc;
}
#topbarR
{
	float:left;
	padding:10px;
	width:613px;
	font-size:16px;
	text-align:justify;
}
#sidebar
{
	float:left;
	width:148px;
	min-height:1461px;
	padding:20px;
	background-color:lightgray;
	text-align:justify;
	font-size:20px;
	border-right:2px dotted #666666;
	
}
#content
{
	float:left;
	padding:40px;
	width:730px;
	background-color:#dedede;
	min-height:1380px;
	
}
#contentL
{
	float:left;
	padding:10px;
	width:140px;
	text-align:center;
}
#contentR
{
	float:left;
	padding:10px;
	width:550px;
	font-size:16px;
	text-align:justify;
	
}
#contentB2
{
	float:left;
	padding:10px;
	width:550px;
	font-size:16px;
	text-align:justify;
	
}
#contentA1
{
	float:left;
	padding:5px;
	width:140px;
	text-align:center;
}

#contentC3
{
	float:left;
	padding:5px;
	width:140px;
	text-align:center;
}
#contentD4
{
	float:left;
	padding:10px;
	width:550px;
	font-size:16px;
	text-align:justify;
	
}
#contentE5
{
	float:left;
	padding:10px;
	width:550px;
	font-size:16px;
	text-align:justify;
}
#contentF6
{
	float:left;
	padding:5px;
	width:140px;
	text-align:center;
}
#contentG7
{
	float:left;
	padding:5px;
	width:140px;
	text-align:center;
}
#contentH8
{
	float:left;
	padding:10px;
	width:550px;
	font-size:16px;
	text-align:justify;
	
}
#footer
{
	clear:both;
	color:black;
	text-align:center;
	padding:20px;
	font-size:18px;
	background-image:linear-gradient(45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	
}
.option
{
	float:left;
	min-width:50px;
	height:25px;
	font-size:18px;
	padding:10px;
	border-right:2px dotted black;
	opacit:0,8;
}
.option:hover
{
	background-color:white;
	cursor:pointer;
}
.optionL
{
	font-size:18px;
	height:25px;
	padding:10px;
	border-bottom:3px dotted #444444;
}
.optionL:hover
{
	background-color:#f36742;
	color:white;
	cursor:pointer;
}
.bigtitle
{
	font-size:29px;
	font-weight:900;
	letter-spacing:1px;
}
.solidline
{
	height:5px;
	margin-top:5px;
	margin-bottom:15px;
	border-bottom:1px solid #444444;
}
.dottedline
{
	height:5px;
	margin-top:5px;
	margin-bottom:15px;
	border-bottom:1px dotted #444444;
}